/* MadCap Table Style: */

/*<meta sourceDocument="D:\PTV_Intertour\Hilfe_Test\inArbeit\it60_De.book" Version="9" />*/

@media print
{
	mcTableStyle
	{
		mc-hide-bottom-ruling: false;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: gui_elements1;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 1pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 1pt;
	max-id: 4;
	widows: 2;
	orphans: 2;
	mc-hide-bottom-ruling: true;
	page-break-before: auto;
	column-break-before: auto;
	column-break-after: auto;
	page-break-after: auto;
	column-break-inside: auto;
	page-break-inside: auto;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	vertical-align: top;
	name: Body1;
	id: 1;
	page-break-inside: auto;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	vertical-align: top;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-gui_elements1
	{
		mc-hide-bottom-ruling: false;
		border-spacing: 0px 0px;
	}
}

.TableStyle-gui_elements1
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 12pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-gui_elements1-Column-Column1
{
	
}

.TableStyle-gui_elements1-Head-Header1
{
	
}

.TableStyle-gui_elements1-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-HeadI-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements1-HeadE-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements1-HeadF-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-HeadH-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements1-HeadD-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-HeadC-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-HeadB-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-HeadA-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-HeadG-Column1-Header1 p
{
	
}

.TableStyle-gui_elements1-Foot-Footer1
{
	
}

.TableStyle-gui_elements1-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-FootI-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-FootE-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-FootF-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-FootH-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-FootD-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-FootC-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-FootB-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-FootA-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements1-FootG-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements1-Body-Body1
{
	page-break-inside: auto;
}

.TableStyle-gui_elements1-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyI-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-BodyE-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements1-BodyF-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-BodyH-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements1-BodyD-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyC-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-BodyB-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyA-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyG-Column1-Body1 p
{
	
}

.TableStyle-gui_elements1-Body-Body2
{
	
}

.TableStyle-gui_elements1-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyI-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-BodyE-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements1-BodyF-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-BodyH-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements1-BodyD-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyC-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements1-BodyB-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyA-Column1-Body2 p
{
	
}

.TableStyle-gui_elements1-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements1-BodyG-Column1-Body2 p
{
	
}


