/* MadCap Table Style: */

/*<meta sourceDocument="D:\PTV_Intertour\Hilfe_Test\inArbeit\it60_De.book" Version="9" />*/

mcTableStyle
{
	name: gui_elements_withTitle;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 1pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 1pt;
	max-id: 4;
	widows: 2;
	orphans: 2;
	mc-hide-bottom-ruling: false;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	vertical-align: top;
	name: Body1;
	id: 1;
	page-break-inside: avoid;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	vertical-align: top;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-gui_elements_withTitle
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: false;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 12pt;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-gui_elements_withTitle-Column-Column1
{
	
}

.TableStyle-gui_elements_withTitle-Head-Header1
{
	
}

.TableStyle-gui_elements_withTitle-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-HeadI-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements_withTitle-HeadE-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements_withTitle-HeadF-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-HeadH-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements_withTitle-HeadD-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-HeadC-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-HeadB-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-HeadA-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-HeadG-Column1-Header1 p
{
	
}

.TableStyle-gui_elements_withTitle-Foot-Footer1
{
	
}

.TableStyle-gui_elements_withTitle-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-FootI-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-FootE-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-FootF-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-FootH-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-FootD-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-FootC-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-FootB-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-FootA-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-gui_elements_withTitle-FootG-Column1-Footer1 p
{
	
}

.TableStyle-gui_elements_withTitle-Body-Body1
{
	page-break-inside: avoid;
}

.TableStyle-gui_elements_withTitle-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyI-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyE-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyF-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyH-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyD-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyC-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyB-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyA-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyG-Column1-Body1 p
{
	
}

.TableStyle-gui_elements_withTitle-Body-Body2
{
	
}

.TableStyle-gui_elements_withTitle-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyI-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyE-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyF-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyH-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyD-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyC-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-gui_elements_withTitle-BodyB-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyA-Column1-Body2 p
{
	
}

.TableStyle-gui_elements_withTitle-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-gui_elements_withTitle-BodyG-Column1-Body2 p
{
	
}


