/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		mc-hide-bottom-ruling: false;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: PTVManyCells;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	max-id: 3;
	widows: 2;
	orphans: 2;
	column-break-after: auto;
	column-break-before: auto;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-inside: auto;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body1;
	id: 1;
	page-break-inside: auto;
	column-break-inside: auto;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Footer1;
	id: 3;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-PTVManyCells
	{
		mc-hide-bottom-ruling: false;
		border-spacing: 0px 0px;
	}
}

.TableStyle-PTVManyCells
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-PTVManyCells-Column-Column1
{
	
}

.TableStyle-PTVManyCells-Head-Header1
{
	
}

.TableStyle-PTVManyCells-HeadI-Column1-Header1
{
	
}

.TableStyle-PTVManyCells-HeadI-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PTVManyCells-HeadE-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadF-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PTVManyCells-HeadF-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PTVManyCells-HeadH-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadD-Column1-Header1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PTVManyCells-HeadD-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadC-Column1-Header1
{
	
}

.TableStyle-PTVManyCells-HeadC-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PTVManyCells-HeadB-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadA-Column1-Header1
{
	
}

.TableStyle-PTVManyCells-HeadA-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-HeadG-Column1-Header1
{
	
}

.TableStyle-PTVManyCells-HeadG-Column1-Header1 p
{
	
}

.TableStyle-PTVManyCells-Foot-Footer1
{
	
}

.TableStyle-PTVManyCells-FootI-Column1-Footer1
{
	
}

.TableStyle-PTVManyCells-FootI-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootE-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-PTVManyCells-FootE-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootF-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-PTVManyCells-FootF-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootH-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PTVManyCells-FootH-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootD-Column1-Footer1
{
	border-top-width: 1px;
	border-top-color: #000000;
	border-top-style: solid;
}

.TableStyle-PTVManyCells-FootD-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootC-Column1-Footer1
{
	
}

.TableStyle-PTVManyCells-FootC-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootB-Column1-Footer1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PTVManyCells-FootB-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootA-Column1-Footer1
{
	
}

.TableStyle-PTVManyCells-FootA-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-FootG-Column1-Footer1
{
	
}

.TableStyle-PTVManyCells-FootG-Column1-Footer1 p
{
	
}

.TableStyle-PTVManyCells-Body-Body1
{
	page-break-inside: auto;
	column-break-inside: auto;
}

.TableStyle-PTVManyCells-BodyI-Column1-Body1
{
	
}

.TableStyle-PTVManyCells-BodyI-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyE-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PTVManyCells-BodyE-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyF-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PTVManyCells-BodyF-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyH-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PTVManyCells-BodyH-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyD-Column1-Body1
{
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-PTVManyCells-BodyD-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyC-Column1-Body1
{
	
}

.TableStyle-PTVManyCells-BodyC-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyB-Column1-Body1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-PTVManyCells-BodyB-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyA-Column1-Body1
{
	
}

.TableStyle-PTVManyCells-BodyA-Column1-Body1 p
{
	
}

.TableStyle-PTVManyCells-BodyG-Column1-Body1
{
	
}

.TableStyle-PTVManyCells-BodyG-Column1-Body1 p
{
	
}


