/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		widows: 1;
		orphans: 1;
		border-collapse: collapse;
		border-spacing-y: 0;
		border-spacing-x: 0;
		margin-left: 14pt;
		margin-right: 0cm;
		margin-top: 0pt;
		margin-bottom: 12pt;
		page-break-inside: avoid;
		mc-hide-bottom-ruling: false;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		page-break-inside: auto;
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: PTVStandard_SingleCells2;
	margin-left: 14pt;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 1pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 1pt;
	max-id: 4;
	widows: 1;
	orphans: 1;
	page-break-inside: auto;
	column-break-inside: auto;
	column-break-after: auto;
	column-break-before: auto;
	page-break-before: auto;
	page-break-after: auto;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	vertical-align: top;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	vertical-align: top;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-PTVStandard_SingleCells2
	{
		border-collapse: collapse;
		mc-hide-bottom-ruling: false;
		margin-left: 14pt;
		margin-right: 0cm;
		margin-top: 0pt;
		margin-bottom: 12pt;
		page-break-inside: avoid;
		widows: 1;
		orphans: 1;
		border-spacing: 0px 0px;
	}

	.TableStyle-PTVStandard_SingleCells2-Body-Body1
	{
		page-break-inside: auto;
	}
}

.TableStyle-PTVStandard_SingleCells2
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 14pt;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 12pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 1;
	orphans: 1;
	border-spacing: 0px 0px;
}

.TableStyle-PTVStandard_SingleCells2-Column-Column1
{
	
}

.TableStyle-PTVStandard_SingleCells2-Head-Header1
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-HeadI-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-HeadE-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-HeadF-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-HeadH-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-HeadD-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-HeadC-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-HeadB-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-HeadA-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-HeadG-Column1-Header1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-Foot-Footer1
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-FootI-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-FootE-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-FootF-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-FootH-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-FootD-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-FootC-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-FootB-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-FootA-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-PTVStandard_SingleCells2-FootG-Column1-Footer1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-Body-Body1
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyI-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyE-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyF-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyH-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyD-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyC-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyB-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyA-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyG-Column1-Body1 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-Body-Body2
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyI-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyE-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyF-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyH-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyD-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyC-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-PTVStandard_SingleCells2-BodyB-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyA-Column1-Body2 p
{
	
}

.TableStyle-PTVStandard_SingleCells2-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	vertical-align: top;
}

.TableStyle-PTVStandard_SingleCells2-BodyG-Column1-Body2 p
{
	
}


