/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		mc-hide-bottom-ruling: false;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: TableStand_nohead;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 4pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 2pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
	widows: 2;
	orphans: 2;
	column-break-after: auto;
	column-break-before: auto;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-inside: auto;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	background-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-TableStand_nohead
	{
		mc-hide-bottom-ruling: false;
		border-spacing: 0px 0px;
	}
}

.TableStyle-TableStand_nohead
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 4pt;
	margin-bottom: 12pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-TableStand_nohead-Column-Column1
{
	
}

.TableStyle-TableStand_nohead-Head-Header1
{
	
}

.TableStyle-TableStand_nohead-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TableStand_nohead-Foot-Footer1
{
	
}

.TableStyle-TableStand_nohead-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TableStand_nohead-Body-Body1
{
	
}

.TableStyle-TableStand_nohead-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
}

.TableStyle-TableStand_nohead-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStand_nohead-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStand_nohead-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
}

.TableStyle-TableStand_nohead-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
}

.TableStyle-TableStand_nohead-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	background-color: #ffffff;
}

.TableStyle-TableStand_nohead-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TableStand_nohead-Body-Body2
{
	
}

.TableStyle-TableStand_nohead-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStand_nohead-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStand_nohead-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStand_nohead-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TableStand_nohead-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 2pt;
	padding-bottom: 2pt;
}

.TableStyle-TableStand_nohead-BodyG-Column1-Body2 p
{
	
}


