/* MadCap Table Style: */

/*<meta sourceDocument="D:\HilfeTest\TableVar\1_Benutzermodell_IV.fm" Version="9" />*/

@media print
{
	mcTableStyle
	{
		mc-hide-bottom-ruling: false;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: TableVarDefinition;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 6pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #666666;
	border-right-color: #666666;
	border-top-color: #666666;
	border-bottom-color: #666666;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 1pt;
	cell-padding-left: 2pt;
	cell-padding-right: 2pt;
	cell-padding-bottom: 2pt;
	max-id: 4;
	widows: 2;
	orphans: 2;
	page-break-before: auto;
	column-break-before: auto;
	page-break-after: auto;
	column-break-after: auto;
	column-break-inside: auto;
	page-break-inside: auto;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	vertical-align: top;
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	vertical-align: top;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-TableVarDefinition
	{
		mc-hide-bottom-ruling: false;
		border-spacing: 0px 0px;
	}
}

.TableStyle-TableVarDefinition
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #666666;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #666666;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	border-bottom-width: 1px;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 6pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-TableVarDefinition-Column-Column1
{
	
}

.TableStyle-TableVarDefinition-Head-Header1
{
	
}

.TableStyle-TableVarDefinition-HeadI-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadE-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadF-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadH-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadD-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadC-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadB-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadA-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-HeadG-Column1-Header1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TableVarDefinition-Foot-Footer1
{
	
}

.TableStyle-TableVarDefinition-FootI-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootE-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootF-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootH-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootD-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootC-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootB-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootA-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-FootG-Column1-Footer1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TableVarDefinition-Body-Body1
{
	
}

.TableStyle-TableVarDefinition-BodyI-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyE-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyF-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableVarDefinition-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyH-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyD-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableVarDefinition-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyC-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyB-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyA-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-BodyG-Column1-Body1
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	vertical-align: top;
}

.TableStyle-TableVarDefinition-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TableVarDefinition-Body-Body2
{
	
}

.TableStyle-TableVarDefinition-BodyI-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyE-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyF-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableVarDefinition-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyH-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyD-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableVarDefinition-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyC-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyB-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableVarDefinition-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyA-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TableVarDefinition-BodyG-Column1-Body2
{
	padding-left: 2pt;
	padding-right: 2pt;
	padding-top: 1pt;
	padding-bottom: 2pt;
}

.TableStyle-TableVarDefinition-BodyG-Column1-Body2 p
{
	
}


