/* MadCap Table Style: */

/*<meta Version="9" />*/

@media print
{
	mcTableStyle
	{
		mc-hide-bottom-ruling: false;
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: TableStd_TitnoHead;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 4pt;
	margin-bottom: 12pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-style: solid;
	border-left-width: 1px;
	cell-padding-top: 3pt;
	cell-padding-left: 3pt;
	cell-padding-right: 3pt;
	cell-padding-bottom: 3pt;
	max-id: 4;
	widows: 2;
	orphans: 2;
	mc-hide-bottom-ruling: true;
	page-break-inside: auto;
	column-break-inside: auto;
	page-break-after: auto;
	column-break-after: auto;
	column-break-before: auto;
	page-break-before: auto;
}

mcTableColumnStyle
{
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	background-color: #ffffff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #666666;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
@media print
{
	.TableStyle-TableStd_TitnoHead
	{
		mc-hide-bottom-ruling: false;
		border-spacing: 0px 0px;
	}
}

.TableStyle-TableStd_TitnoHead
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	border-left-style: solid;
	border-left-color: #000000;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 4pt;
	margin-bottom: 12pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-TableStd_TitnoHead-Column-Column1
{
	
}

.TableStyle-TableStd_TitnoHead-Head-Header1
{
	
}

.TableStyle-TableStd_TitnoHead-HeadI-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadE-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadF-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadH-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadD-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadC-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadB-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadA-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-HeadG-Column1-Header1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TableStd_TitnoHead-Foot-Footer1
{
	
}

.TableStyle-TableStd_TitnoHead-FootI-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootE-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootF-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootH-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootD-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootC-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootB-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootA-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-FootG-Column1-Footer1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TableStd_TitnoHead-Body-Body1
{
	
}

.TableStyle-TableStd_TitnoHead-BodyI-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-TableStd_TitnoHead-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyE-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyF-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyH-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyD-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyC-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-TableStd_TitnoHead-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyB-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyA-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-TableStd_TitnoHead-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyG-Column1-Body1
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	background-color: #ffffff;
}

.TableStyle-TableStd_TitnoHead-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TableStd_TitnoHead-Body-Body2
{
	
}

.TableStyle-TableStd_TitnoHead-BodyI-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyE-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyF-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyH-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyD-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-bottom-width: 1px;
	border-bottom-color: #666666;
	border-bottom-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyC-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyB-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
	border-right-width: 1px;
	border-right-color: #666666;
	border-right-style: solid;
}

.TableStyle-TableStd_TitnoHead-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyA-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TableStd_TitnoHead-BodyG-Column1-Body2
{
	padding-left: 3pt;
	padding-right: 3pt;
	padding-top: 3pt;
	padding-bottom: 3pt;
}

.TableStyle-TableStd_TitnoHead-BodyG-Column1-Body2 p
{
	
}


