/* MadCap Table Style: */

/*<meta sourceDocument="D:\PTV_Intertour\Hilfe_Test\inArbeit\it60_De.book" Version="9" />*/

mcTableStyle
{
	name: TipHint2;
	margin-left: 14px;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 9pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: #000000;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 1pt;
	cell-padding-left: 5pt;
	cell-padding-right: 3pt;
	cell-padding-bottom: 1pt;
	max-id: 4;
	widows: 2;
	orphans: 2;
	column-break-before: auto;
	page-break-before: auto;
	page-break-after: auto;
	column-break-after: auto;
	column-break-inside: auto;
	page-break-inside: auto;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 4;
	separator-style: none;
	ruler-style: none;
	background-color: #f8f8ff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-TipHint2
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: #000000;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 14px;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 9pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-TipHint2-Column-Column1
{
	
}

.TableStyle-TipHint2-Head-Header1
{
	
}

.TableStyle-TipHint2-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint2-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint2-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint2-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TipHint2-Foot-Footer1
{
	
}

.TableStyle-TipHint2-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint2-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint2-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint2-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TipHint2-Body-Body1
{
	
}

.TableStyle-TipHint2-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
}

.TableStyle-TipHint2-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
}

.TableStyle-TipHint2-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
}

.TableStyle-TipHint2-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TipHint2-Body-Body2
{
	
}

.TableStyle-TipHint2-BodyI-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyE-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyF-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyH-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyD-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
}

.TableStyle-TipHint2-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyC-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyB-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint2-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyA-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint2-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TipHint2-BodyG-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
}

.TableStyle-TipHint2-BodyG-Column1-Body2 p
{
	
}


