/* MadCap Table Style: */

/*<meta sourceDocument="D:\PTV_Intertour\Hilfe_Test\inArbeit\it60_De.book" Version="9" />*/

mcTableStyle
{
	name: TipHint1;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 9pt;
	border-spacing-x: 0;
	border-spacing-y: 0;
	border-collapse: collapse;
	border-left-color: none;
	border-right-color: #000000;
	border-top-color: #000000;
	border-bottom-color: #000000;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-style: none;
	border-left-style: none;
	cell-padding-top: 1pt;
	cell-padding-left: 5pt;
	cell-padding-right: 3pt;
	cell-padding-bottom: 1pt;
	max-id: 4;
	widows: 2;
	orphans: 2;
	column-break-after: auto;
	column-break-before: auto;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-inside: auto;
}

mcTableColumnStyle
{
	separator-style: none;
	ruler-style: none;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	name: Header1;
	id: 3;
}

mcTableBodyStyle
{
	span: 4;
	separator-style: none;
	ruler-style: none;
	background-color: #f8f8ff;
	name: Body1;
	id: 1;
}

mcTableBodyStyle
{
	span: 0;
	separator-style: none;
	ruler-style: none;
	name: Body2;
	id: 2;
}

mcTableFootStyle
{
	name: Footer1;
	id: 4;
}


/* Cell Styles: */
 
.TableStyle-TipHint1
{
	border-collapse: collapse;
	border-left-style: none;
	border-left-color: none;
	border-right-style: none;
	border-right-color: #000000;
	border-top-style: solid;
	border-top-color: #000000;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	border-bottom-width: 1px;
	margin-left: 0cm;
	margin-right: 0cm;
	margin-top: 0pt;
	margin-bottom: 9pt;
	page-break-before: auto;
	page-break-after: auto;
	page-break-inside: auto;
	column-break-before: auto;
	column-break-after: auto;
	column-break-inside: auto;
	widows: 2;
	orphans: 2;
	border-spacing: 0px 0px;
}

.TableStyle-TipHint1-Column-Column1
{
	
}

.TableStyle-TipHint1-Head-Header1
{
	
}

.TableStyle-TipHint1-HeadI-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-HeadI-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadE-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-HeadE-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadF-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-HeadF-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadH-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-HeadH-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadD-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint1-HeadD-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadC-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-HeadC-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadB-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-HeadB-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadA-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint1-HeadA-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-HeadG-Column1-Header1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint1-HeadG-Column1-Header1 p
{
	
}

.TableStyle-TipHint1-Foot-Footer1
{
	
}

.TableStyle-TipHint1-FootI-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-FootI-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootE-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-FootE-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootF-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-FootF-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootH-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-FootH-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootD-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint1-FootD-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootC-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-FootC-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootB-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-FootB-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootA-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint1-FootA-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-FootG-Column1-Footer1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint1-FootG-Column1-Footer1 p
{
	
}

.TableStyle-TipHint1-Body-Body1
{
	
}

.TableStyle-TipHint1-BodyI-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyI-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyE-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyE-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyF-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyF-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyH-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyH-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyD-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
}

.TableStyle-TipHint1-BodyD-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyC-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyC-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyB-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyB-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyA-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
}

.TableStyle-TipHint1-BodyA-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-BodyG-Column1-Body1
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	background-color: #f8f8ff;
	border-bottom-style: none;
}

.TableStyle-TipHint1-BodyG-Column1-Body1 p
{
	
}

.TableStyle-TipHint1-Body-Body2
{
	
}

.TableStyle-TipHint1-BodyI-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyI-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyE-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyE-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyF-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyF-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyH-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyH-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyD-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
}

.TableStyle-TipHint1-BodyD-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyC-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyC-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyB-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-right-style: none;
}

.TableStyle-TipHint1-BodyB-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyA-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
}

.TableStyle-TipHint1-BodyA-Column1-Body2 p
{
	
}

.TableStyle-TipHint1-BodyG-Column1-Body2
{
	padding-left: 5pt;
	padding-right: 3pt;
	padding-top: 1pt;
	padding-bottom: 1pt;
	border-bottom-style: none;
}

.TableStyle-TipHint1-BodyG-Column1-Body2 p
{
	
}


